#content_add_witem{
	/*background-color: lightgreen;*/
    position: relative;
	width: 85em;
	height:30em;
}

#wbasic_info{
    
    /*background-color: lightpink;*/
    position: relative;
	width: 85em;
	height:7em;

}

#wdetial{
	
	margin-left: -5.5em;
	/*background-color: lightblue;*/
    position: relative;
	width: 85em;
	height:3em;
}

#wdescreption{
   
	/*background-color: lightyellow;*/
    position: relative;
	width: 85em;
	height:15em;
}

