#content_edit_witem{
	/*background-color: lightgreen;*/
    position: relative;
	width: 85em;
	height:30em;
}

#basic_info_wedit{
    
    /*background-color: lightpink;*/
    position: relative;
	width: 85em;
	height:7em;

}

#detial_wedit{
	
	margin-left: -5.5em;
	/*background-color: lightblue;*/
    position: relative;
	width: 85em;
	height:3em;
}

#descreption_wedit{
   
	background-color: lightyellow;
	
	
    position: relative;
	width: 85em;
	height:12em;
}



