#content{
    
    position: relative;
	width: 85em;
	height: 40em;
}


#item_info{
	margin-left: 20em;/*
	background-color: lightblue;*/
	position: relative;
	width: 30em;
	height: 25em;
	text-align: left;
}

#owner_info{
	margin-top: 5em;
	/*background-color: lightpink;*/
    position: relative;
	width: 30em;
	height: 20em;
	text-align: left;
	}

#sys_info{
	margin-left: 20em;
	/*background-color: lightgreen;*/
    position: relative;
	width: 60em;
	height: 15em;
	text-align: left;
}